# Ignore the platform-tools folder (ADB binaries)
platform-tools/

# Ignore downloaded zip file (if any)
platform-tools.zip

# Ignore setuptools metadata folders
*.egg-info/

# Python cache files
__pycache__/
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg
*.whl

# Virtual environments
venv/
env/
.venv/
.env/

# VSCode settings (optional)
.vscode/

# MacOS system files (optional)
.DS_Store

# Logs and local config files (optional)
*.log
